{
  "username": "",
  "password": "",
  "sharedSecret": "",
  "identitySecret": "",
  "ownerSteamID64": "",
  "ownerSteamID3": "",
  "botSteamID64": "",
  "botSteamID3": "",
  "ClanChatGroupID": "",
  "customGame": "",
  "lockedItems": [],
  "holidaySale": "",
  "webhookToken": "",
  "familyViewPin": "",
  "openweathermapAPI": "",
  "steamAPI": ""
}